<footer class="text-center py-2">
    <div class="container">
        <div class="social-icons d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/gustavo-rosa-46a251180/" target="_blank" class="mx-3">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/gustasvos" target="_blank" class="mx-3">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
    </div>
</footer>
