    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio Gustavo</title>

        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>

        <!-- fonte -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

        <!-- css -->
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="static/css/normalize.css">
    </head>

    <body data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="0" tabindex="0">
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" id="sobre-mim" href="#aboutme">Sobre mim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tecnologias" href="#skills">Habilidades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="formacao" href="#experience">Profissional</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="projetos" href="#projects">Projetos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="main container-fluid">
            <!-- foto e sobre mim -->
            <section class="about" id="aboutme">
                <aside>
                    <img class="rounded" src="static/assets/20240919_115257.jpg" alt="profile-photo">
                </aside>
                <article>
                    <p class="fs-5 text-center">
                        Meu nome é Gustavo Ribeiro da Rosa sou estudante de programação de São José dos Campos-SP. Gosto de
                        estudar
                        principalmente tecnologias para desenvolvimento Web e Banco de Dados e desejo me especializar
                        nestas áreas.
                        Atualmente estou cursando o curso superior de Desenvolvimento de Software
                        Multiplataforma.<br /><br />

                        Além da área de tecnologia, meus maiores gostos pessoais são videogames músicas. No meu tempo livre
                        geralmente estou jogando algo e sempre ouvindo músicas. Gosto muito de
                        descobrir
                        novos álbuns e procurar a história por trás das produções. <br /><br />

                        Aqui você poderá conhecer os destaques da minha carreira como desenvolvedor!
                    </p>
                </article>
            </section>

            <section class="skills" id="skills">
                <h1 class="title">Linguagens</h1>

                <article class="languages">
                    <img src="https://img.icons8.com/fluency/144/ruby-programming-language.png" alt="ruby">
                    <img src="https://img.icons8.com/color/144/javascript--v1.png" alt="javascript">
                    <img src="https://img.icons8.com/fluency/144/typescript--v1.png" alt="typescript">
                    <img src="https://img.icons8.com/color/144/python--v1.png" alt="python">
                </article>

                <h1 class="title">Frameworks & Tecnologias</h1>

                <article class="tech">
                    <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/144/external-rails-a-server-side-web-application-framework-written-in-ruby-logo-shadow-tal-revivo.png"
                        alt="rails">
                    <img src="https://img.icons8.com/color/144/nodejs.png" alt="nodejs">
                    <img src="https://img.icons8.com/color/144/pandas.png" alt="pandas">
                    <img src="https://img.icons8.com/fluency/144/docker.png" alt="docker">
                    <img src="https://img.icons8.com/color/144/mysql-logo.png" alt="mysql">
                    <img src="https://img.icons8.com/color/144/git.png" alt="git">
                    <img src="https://img.icons8.com/ios-filled/150/flask.png" alt="flask">
                </article>
            </section>

            <section class="projects container-fluid" id="experience">

                <article class="experience">
                    <h1 class="title">Experiência Profissional</h1>

                    <div class="work">
                        <h3>Desenvolvimento de software</h3>
                        <p>Jan-Ago de 2022: Estagiário de Desenvolvimento Backend Ruby on Rails em nave.rs.</p>
                        <br />

                        <h3>Outras áreas</h3>
                        <p>2019: Estágiário de Informática na Prefeitura de São José dos Campos.</p>
                    </div>
                </article>

                <article class="experience">
                    <h1 class="title">Formação</h1>

                    <div class="education">
                        <p class="text-break">Desenvolvimento de Software Multiplataforma (2025-2028)</p>
                        <p class="text-secondary">Fatec São José dos Campos (Cursando)</p>

                        <p class="text-break">Análise e Desenvolvimento de Sistemas (2018-2021)</p>
                        <p class="text-secondary">Fatec São José dos Campos (Não Concluído)</p>
                    </div>
                </article>

                <a class="btn btn-custom btn-outline-warning" href="static/assets/curriculo_gustavo.pdf" target="_blank"
                    style="grid-column: span 2;">Acesse o meu currículo</a>
            </section>

            <section class="projects" id="projects">

                <h1 class="title">Projetos</h1>

                <article class="project">
                    <h1>Análise de Dados do Comércio Internacional do Estado de São Paulo</h1>

                    <p class="text-break">Este projeto visa desenvolver um site que forneça através de gráficos, os
                        dados
                        disponíveis na base do Comex Stat do Ministério do Desenvolvimento, Indústria, Comércio e Serviços
                        sobre
                        as
                        exportações e importações realizadas no estado de São Paulo ao longo dos anos. A partir deste,
                        deverá
                        ser possível identificar cenários de ascenção, estagnação ou declínio de municípios e/ou produtos no
                        mercado internacional. Para o projeto a equipe utilizou as tecnologias Python, Flask, Pandas, Google
                        Colab e Figma.<br /> <br />

                        O desenvolvimento deste projeto foi realizado em 3 sprints. Primeiramente atuei no desenvolvimento
                        dos gráficos de produto exportado por valor FOB (Free On
                        Board), quantidade de exportações por ano de cada município e peso total exportado por município em
                        Kg. Também realizei a padronização de todos os gráficos desenvolvidos pelo grupo.<br /> <br />

                        Na segunda sprint coloquei os dados (<i>DataFrames</i>) gerados em um banco de dados relacional e
                        criei o frontend para a página de gráficos, seguindo o protótipo criado. <br /> <br />

                        Na terceira sprint me voltei ao backend do site, onde implementei <i>Sessions</i> para que usuários
                        possam gerar gráficos simultaneamente, e fiz o tratamento de erros ao selecionar valores nulos para
                        a geração.
                    </p>
                    <p class="text-break"><strong>Hard Skills: </strong>Python (Flask e
                        Pandas), HTML, CSS e MySQL.</p>
                    <p class="text-break"><strong>Soft Skills: </strong>Metodologia Ágil, Autogerenciamento, Colaboração e Comunicação ativa.</p>
                    <a href="https://github.com/arthur-oliver/API-Crows" target="_blank"><img
                            src="https://img.icons8.com/color-glass/64/github--v1.png" alt="repository" width="64" height="64"></a>
                </article>

                <div class="container-fluid">
                    <video controls>
                        <source src="static/assets/site-graficos.mp4" type="video/mp4">
                    </video>
                </div>

                <article class="project">
                    <h1>Members Only</h1>

                    <p class="text-break">Uma aplicação CRUD desenvolvida em Ruby on Rails seguindo as regras propostas no
                        desafio encontrado em <a href="https://www.theodinproject.com/lessons/ruby-on-rails-members-only"
                            target="_blank">https://www.theodinproject.com/lessons/ruby-on-rails-members-only</a>. Foi
                        criado
                        uma API e uma interface web que a permite a criação de posts para usuários, e algumas ações
                        permitidas
                        apenas para os usuários cadastrados e que estiverem logados. <br /> <br />

                        Esta aplicação foi a primeira vez que, além da API desenvolvi também uma interface gráfica para
                        efetuar as requisições CRUD. Além do framework foi utilizado bootstrap para as <i>views</i>.
                    </p>
                    <p class="text-break"><strong>Hard Skills: </strong>Ruby, Ruby on Rails, HTML e Bootstrap.</p>
                    <p class="text-break"><strong>Soft Skills: </strong>Autonomia e Comunicação ativa (recebendo feedbacks e implementando alterações). </p>
                    <a href="https://github.com/gustasvos/members-only" target="_blank"><img
                            src="https://img.icons8.com/color-glass/64/github--v1.png" alt="repository" width="64" height="64"></a>
                </article>

                <div class="container-fluid">
                    <video controls>
                        <source src="static/assets/members-only.mp4" type="video/mp4">
                    </video>
                </div>

                <article class="project">
                    <h1>WeatherAPI</h1>

                    <p class="text-break">Com propósito de estudar o manuseio de APIs no framework Ruby on Rails, desenvolvi
                        uma
                        simples aplicação web que mostra informações do clima do mundo todo com base na API meteorologica
                        disponível
                        em <a href="https://www.weatherapi.com/" target="_blank">https://www.weatherapi.com/</a>. <br />
                        <br />
                        Olhando este projeto atualmente percebo que este projeto poderia ter sido melhor direcionado por mim
                        a fim de desenvolver novas habilidades que na época eu tinha pouco conhecimento (principalmente HTML
                        e CSS).
                        Vejo que desenvolver uma aplicação as pressas e com pouco estudo, por mais simples que seja, afeta
                        bastante
                        a qualidade da aplicação e do código desenvolvido.
                    </p>
                    <p class="text-break"><strong>Hard Skills: </strong>Ruby, Ruby on Rails, HTML e Bootstrap.</p>
                    <p class="text-break"><strong>Soft Skills: </strong>Autonomia.</p>
                    <a href="https://github.com/gustasvos/weather-api" target="_blank"><img
                            src="https://img.icons8.com/color-glass/64/github--v1.png" alt="repository" width="64" height="64"></a>
                </article>

                <div class="container-fluid">
                    <video controls>
                        <source src="static/assets/wheaterapi.mkv" type="video/mp4">
                    </video>
                </div>

            </section>

        </main>

        <footer class="text-center py-2">
            <div class="container">
                <div class="social-icons d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/gustavo-rosa-46a251180/" target="_blank" class="mx-3">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a href="https://github.com/gustasvos" target="_blank" class="mx-3">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
        </footer>

    </body>

    </html>