<% layout('./main') %>

<section class="projects" id="disciplinas">
    <h1 class="title">Projetos</h1>

    <% contatos.forEach(contato => { %>
        <article class="project">
            <h1>
                <%= contato.texto %>
            </h1>
        </article>
        <% }) %>
</section>
