<% layout('./main') %>

<section class="contatos-section">
  <h1 class="title">Contatos</h1>
  <article class="contatos-card">
    <ul>
      <% contatos.forEach(contato => { %>
        <li><%= contato.texto %></li>
      <% }) %>
    </ul>
  </article>
</section>
