<% layout('./main') %>

<section class="dashboard" id="dashboard">
  <h1 class="title">Dashboard</h1>

  <div class="stats-container">
    <article class="stat-card">
      <h1>Total de Disciplinas</h1>
      <p><%= totalDisciplinas %></p>
    </article>

    <article class="stat-card">
      <h1>Total de Projetos</h1>
      <p><%= totalProjetos %></p>
    </article>

    <article class="stat-card">
      <h1>Total de Contatos</h1>
      <p><%= totalContatos %></p>
    </article>
  </div>
</section>
