<% layout('./main') %>

    <section class="disciplinas-section" id="disciplinas">
        <h1 class="title">Disciplinas</h1>

        <div class="disciplinas-grid">
            <% disciplinas.forEach(disciplina=> { %>
                <article class="disciplina-card">
                    <h1>
                        <%= disciplina.nome %>
                    </h1>
                    <p>
                        Professor: <%= disciplina.professor %>
                    </p>
                </article>
                <% }) %>
        </div>
    </section>