<% layout('./main') %>
    <section class="about" id="aboutme">
        <aside>
            <img class="rounded" src="/assets/20240919_115257.jpg" alt="profile-photo">
        </aside>
        <article>
            <p class="fs-5 text-center">
                <%- descricao %>
            </p>
        </article>
    </section>

    <section class="skills" id="skills">
        <h1 class="title">Linguagens</h1>

        <article class="languages">
            <img src="https://img.icons8.com/fluency/144/ruby-programming-language.png" alt="ruby">
            <img src="https://img.icons8.com/color/144/javascript--v1.png" alt="javascript">
            <img src="https://img.icons8.com/fluency/144/typescript--v1.png" alt="typescript">
            <img src="https://img.icons8.com/color/144/python--v1.png" alt="python">
        </article>

        <h1 class="title">Frameworks & Tecnologias</h1>

        <article class="tech">
            <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/144/external-rails-a-server-side-web-application-framework-written-in-ruby-logo-shadow-tal-revivo.png"
                alt="rails">
            <img src="https://img.icons8.com/color/144/nodejs.png" alt="nodejs">
            <img src="https://img.icons8.com/color/144/pandas.png" alt="pandas">
            <img src="https://img.icons8.com/fluency/144/docker.png" alt="docker">
            <img src="https://img.icons8.com/color/144/mysql-logo.png" alt="mysql">
            <img src="https://img.icons8.com/color/144/git.png" alt="git">
            <img src="https://img.icons8.com/ios-filled/150/flask.png" alt="flask">
        </article>
    </section>