<% layout('./main') %>
    <section class="about" id="aboutme">
        <aside>
            <img class="rounded" src="static/assets/20240919_115257.jpg" alt="profile-photo">
        </aside>
        <article>
            <p class="fs-5 text-center">
                <%- descricao %>
            </p>
        </article>
    </section>